@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
  box-sizing:border-box;
}

body{
  margin:0;
  height:100vh;
  background:linear-gradient(180deg,#fff,#ffe6eb);
  background-image:url('heart.png');
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"Nunito",sans-serif;
}
#hearts{
  position:fixed;
  inset:0;
  pointer-events:none;
}

.heart{
  position:absolute;
  bottom:-10vh;
  animation:floatUp 6s linear forwards;
}

@keyframes floatUp{
  from{transform:translateY(0);opacity:0;}
  20%{opacity:1;}
  to{transform:translateY(-110vh);opacity:0;}
}
/* REEL */
.reel{
  width:500px;
  height:640px;
  background:white;
  border-radius:25px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,.25);
  position:relative;
}

/* SCREENS */
.screen{
  position:absolute;
  inset:0;
  display:none;
  flex-direction:column;
  align-items:center;
  text-align:center;
  padding:20px;
}

.screen.active{
  display:flex;
}

/* VALENTINE */
.gif{
  width:220px;
  border-radius:15px;

}

h1{
  color:#b0005a;
}

.buttons{
  margin-top:25px;
}

button{
  font-size:1.1rem;
  padding:10px 18px;
  margin:8px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  align-items: flex-end;
}

.yes{
  background:#ff4d6d;
  color:white;
}

.no{
  background:#e0e0e0;
}

/* GIFTS */
#screen3{
  justify-content:flex-start;
}

.gift-list{
  width:100%;
  height:100%;
  overflow-y:auto;
  padding-bottom:20px;
}

.gift{
  background:linear-gradient(135deg,#ff4d6d,#ff85a1);
  border-radius:18px;
  padding:14px;
  margin-bottom:14px;
  cursor:pointer; 
}

.gift-title{
  color:white;
  font-size:1.05rem;
}

.gift-content{
  display:none;
  margin-top:12px;
  background:white;
  border-radius:14px;
  padding:12px;
}

.gift-content.show{
  display:block;
}

.gift-content img{
  width:100%;
  border-radius:12px;
  margin-bottom:10px;
}

.gift-content p{
  font-size:.95rem;
  line-height:1.6;
  color:#5a0030;
  text-align:left;
}
